name: Deploy SNAPSHOT release

on:
  workflow_call:
    inputs:
      version-label:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy SNAPSHOT 

    steps:
      - name: git checkout
        uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          distribution: ${{ vars.VERSION_JAVA_DISTRIBUTION  }}
          java-version: ${{ vars.VERSION_JAVA }}

      - name: Install Kotlin Commandline Tools
        uses: fwilhe2/setup-kotlin@0.2.0
        with:
          version: ${{ vars.VERSION_KOTLIN_COMMANDLINE_TOOLS }}

      # TODO Figure out naming schema and retention policy
      # We cannot use artifacts as they cannot be shared between workflows, so use cache instead.
      - name: Setup build cache
        uses: actions/cache@v3
        with:
          path: ./packages/build/m2-buildrepo
          key: packages-m2-jvm-sync-${{ needs.check-cache.outputs.packages-sha }}

      - name: Restore m2-buildrepo
        uses: actions/download-artifact@v3
        with:
          name: all-packages-${{ inputs.version-label }}
          path: ./packages/build/m2-buildrepo 

      - name: Publish SNAPSHOT to Maven Central
        env:    
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY_BASE_64 }}
          GPG_PASS_PHRASE: ${{ secrets.GPG_PASS_PHRASE }}
          MAVEN_CENTRAL_USER: ${{ secrets.MAVEN_CENTRAL_USER }}
          MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
        working-directory: tools
        run: kotlin ./publish_snapshots.main.kts "../" "${{ inputs.version-label }}" "$GPG_SIGNING_KEY" "$GPG_PASS_PHRASE" "$MAVEN_CENTRAL_USER" "$MAVEN_CENTRAL_PASSWORD"
