name: Deploy SNAPSHOT release

on:
  workflow_call:
    inputs:
      version-label:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy SNAPSHOT 

    steps:
      - name: Remove unnecessary files
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: git checkout
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          distribution: ${{ vars.VERSION_JAVA_DISTRIBUTION  }}
          java-version: ${{ vars.VERSION_JAVA }}

      - name: Install Kotlin Commandline Tools
        uses: fwilhe2/setup-kotlin@0.2.0
        with:
          version: ${{ vars.VERSION_KOTLIN_COMMANDLINE_TOOLS }}

      - name: Restore m2-buildrepo
        uses: actions/download-artifact@v4
        with:
          name: all-packages-${{ inputs.version-label }}
          path: ./packages/build/m2-buildrepo 

      - name: Publish SNAPSHOT to Maven Central
        # env:    
        #   GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY_BASE_64 }}
        #   GPG_PASS_PHRASE: ${{ secrets.GPG_PASS_PHRASE }}
        #   MAVEN_CENTRAL_USER: ${{ secrets.MAVEN_CENTRAL_USER }}
        #   MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
        working-directory: tools
        run: |
          export GPG_TTY=$(tty)
          kotlin ./publish_snapshots.main.kts "../" "${{ inputs.version-label }}" "${{ secrets.GPG_SIGNING_KEY_BASE_64 }}" "${{ secrets.GPG_PASS_PHRASE }}" "${{ secrets.MAVEN_CENTRAL_USER }}" "${{ secrets.MAVEN_CENTRAL_PASSWORD }}"
